body {
    background: linear-gradient(45deg, #0b0a0c 0%, #0f0f2e 100%); /*  Градиент   */
    min-height: 100vh;
    margin: 0;
  }
  


  .Intel_One_Mono {
    font-family: 'Intel One Mono', monospace;
  }

  .text-primary {
    font-family: 'Intel One Mono', monospace;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
  }

  .text-Welcome {
    font-family: 'Intel One Mono', monospace;
    color: #848484;
    font-size: 25px;
    font-weight: 400;
  }